
{% extends 'base.html' %}
{% load static %}
{% block title %} Create a new blog post {% endblock %}
{% block content %}

 {% if user.is_authenticated %}
<h1> Add Post...</h1>

<br/><br/>
<div class="container">
<div class="form-group">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}

    <button  class="btn btn-secondary">Post</button>
</div>
</div>
<script>
    var name = "{{user.id}}";
    document.getElementById("elder").value
         = name;


</script>
</form>
{% else %}
You are not allowed here
{% endif %}


{% endblock %}
