
{% extends 'base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}

{% if user.is_authenticated %}


<h1> Edit Settings...</h1>
<br/><br/>

{{ user.profile.bio }}
<br/><br/>

<form method="POST" action="{% url 'edit_profile' user.pk%}">
      {% csrf_token %}
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name</label>
    <input type="text" class="form-control" value="{{ edt.first_name }}" aria-describedby="emailHelp" name="first_name">

  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Last Name</label>
    <input type="text" class="form-control" value="{{ edt.last_name }}" aria-describedby="emailHelp" name="last_name">

  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" value="{{ edt.username }}" aria-describedby="emailHelp" name="username">

  </div>


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" value="{{ edt.email }}" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">

  </div>


     <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control"  name="password">
  </div>

    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Confirm Password</label>
    <input type="password" class="form-control"  aria-describedby="emailHelp" name="passwor">

  </div>



            <button  class="btn btn-secondary">Update Profile</button>



    </div>

</form>

{% else %}
You are not allowed here
{% endif %}


{% endblock %}